@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	src: url('./assets/0xProtoFont.ttf');
	font-family: '0xProto';
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: '0xProto', sans-serif;
	color: #383838;
	background-color: #111;
	background-image: url('./assets/libraryImage.png');
	background-size: 150px;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-position-x: center;
	background-position-y: center;
}
